
  <div class="header-h3">
     <h3>Розклад занять за групами</h3>
  </div>
  <br>
  <h3> {{ gname }} </h3>
  {% for day in days.items %}
       <div>
          <table width = 100%>
            <th colspan=3 bgcolor="#dddddd"> {{day.0}} </th>
            {% for pair in day.1 %}
            <tr style="border-bottom: solid;  border-color: gray;">
               <td width=5%  style="border-right: solid gray; border-bottom: dashed lightgray;  text-align: center;"> {{ pair.pair }} </td>
               <td width=45% style="border-right: solid gray; border-bottom: dashed lightgray; text-align: center;"> {{ pair.fam }} </td>
               <td width=45% style="border-bottom: dashed;  border-color: lightgray; text-align: center;"> {{ pair.lesson }} </td>
            </tr>
            {% endfor %}
          </table>       
       </div>
       <br>
       <br>
       <br>
  {% endfor %}

  